.container {
    position: absolute;
    height: 1000px;
    width: 1500px;
}

.hder {
    position: relative;
    height: 12%;
    background-color: #1ec1ed;
    opacity: 0.5;
}

.row {
    width: 31%;
    background-color: yellow;
    position: relative;
    left: 55%;
    top: 33%;
}

.collumn3 {
    position: relative;
}

.collumn2 {
    position: relative;
}

.collumn1 {
    position: relative;
}

.middle_container {
    top: 14%;
    position: absolute;
    background-color: #afa1a133;
    height: 50%;
    width: 80%;
    overflow: scroll;
    border-width: 10px 10px 10px 10px;
    left: 4%;
    border: blue;
}

.rowgroup1 {
    display: grid;
    height: 24%;
    width: 63%;
    position: relative;
    top: -14%;
    left: 29%;
}

.rowgroup2 {
    display: grid;
    height: 24%;
    width: 45%;
    position: relative;
    top: -21%;
    left: 29%;
}

.rowgroup3 {
    display: grid;
    height: 24%;
    width: 30%;
    position: relative;
    top: -31%;
    left: 29%;
}

.content {
    display: grid;
    overflow: scroll;
    background-color: #d4d7ce;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -8%;
}


/*   Previous and next buttons */

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #008287;
    color: black;
}

.next {
    background-color: #008287;
    color: black;
}

.round {
    border-radius: 163%;
    position: relative;
    width: 0px;
}

#footer {
    height: 40%;
    position: absolute;
    width: 100%;
    background-color: rgb(159, 221, 236);
    top: 73%;
}

.white-block-content {
    position: relative;
    top: 21%;
    left: 5%;
}

.white-block-content1 {
    left: 29%;
    position: relative;
    top: -24%;
}
